body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(19, 17, 17)!important;
}

#home-navbar{
    background-image: linear-gradient(to bottom, rgba(0,0,0, 1), rgba(0,0,0, 0.75), rgba(0,0,0, 0));
}
#brand-title{
    font-size: x-large;
}
.card{
    width: 10em;
    margin: 10px;
    transition: 0.3s;
}
#detail-modal-content{
    background-color: rgb(19, 17, 17)!important;
}

.video-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* #detail-modal-trailer iframe{
    width: 100%;
    height: 100%;
} */
.watch-buttons{
    font-size: xx-large;
    color: white;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #video-player-wrapper{
        width: 380px!important;
    }
}
  
  /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #video-player-wrapper{
        width: 570px!important;
    }
}
  
  /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Styles for large devices */
    #video-player-wrapper{
        width: 760px!important;
    }
}
  
  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Styles for extra large devices */
    #video-player-wrapper{
        width: 1080px!important;
    }
}

@media (min-width: 1400px) {
    /* Styles for extra large devices */
    #video-player-wrapper{
        width: 1100px!important;
    }
}


h1.ml8 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    color: #fff;
    width: 4em;
    height: 4em;
  }
  
  .ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
  }
  
  .ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
  }
  
  .ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  
  .ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
  }
  
  .ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #e296c9;
    border-radius: 3em;
    z-index: 1;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #e296c9;
    width: 2.3em;
    height: 2.3em;
  }

  .kalnia-glaze-text {
    font-family: "Kalnia Glaze", serif;
    font-optical-sizing: auto;
    font-style: normal;

  }