@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
h1, h2, h3, h4, h5, h6, html, body{
    font-family: 'DM Sans';
    margin:0;
}

:root{
    --lightest: #FFFFFFFF;
    --medlight: #FFFFFFFF;
    --light: #FFFFFFFF;
    --dark: rgb(32, 29, 29);
    --meddark: #FFFFFFFF;
    --darkest: #FFFFFFFF;

}
.navbar{
    padding: 10px;
    font-size: 40px!important;
}
.file-controls{
    margin-top: 5px;
    margin-bottom: 5px;
}
.topbar{
    color: var(--dark);
    padding: 5px!important;
    background: white;
    width: 100%;

}

.submit-button{
    border: none;
    color: white;
    background: rgb(34,193,195);
    background: linear-gradient(30deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.dropdowns{
    background-color:rgb(112, 112, 112);
    padding: 0;
}
.navbar-toggler{
    border: none;
}

#navbar-tool-list ul li a{
    color: var(--dark)!important;
}

/*cp */
@media only screen and (max-width: 768px) {
    .wrapper{
        margin: 10px;
    }
    .film-card div{
        width: 29%;
        height: 200px;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        text-align: center;
        color:white;
        border-radius: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
        .wrapper{
        margin: auto;
        width: 400px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper{
        margin: auto;
        width: 700px;
    }
    #navbar-tool-list{
        padding-left: 50px;
    }
    #web-tag{
        padding-right: 50px;
    }
    .film-card div{
        width: 18%;
        height: 250px;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        text-align: center;
        color:white;
        border-radius: 20px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper{
        margin: auto;
        width: 1000px;
    }
    .film-card div{
        width: 18%;
        height: 250px;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        text-align: center;
        color:white;
        border-radius: 20px;
    }
}


/* spin the wheel */
.center-div svg{
    cursor:pointer;
}


/* footer */
#footer{
    padding: 10px;
}

.video-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.search-results{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.favs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.list-items{
    margin: 5px;
    
}

.item-img{
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

#item-episodes div{
    border: solid 0.5px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px;
    
    border-radius: 5px;
}

#item-episodes div:hover{
    background-color: rgb(122, 122, 122);
}

.spinner{
    font-size: 25px;
}
.modal-trailer iframe{
    position: absolute; float: left; clear: both; width: 100%; height: 350px; 
    z-index: 0; 
    left: no-repeat; 
}

.item-text{
    font-size: 12px;
    color: var(--dark);
    position: relative;
}

#p_5890238{
    display: none!important;
}
.fav-button{
    cursor: pointer;
    color:rgb(199, 199, 44)
}